name: CI
on:
  push:
    branches:
    - master
    tags:
    - "v*"
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.OS }}
    strategy:
      fail-fast: false
      matrix:
        OS: ["ubuntu-latest", "windows-latest"]
    steps:
    - uses: actions/checkout@v2
    - uses: coursier/cache-action@v6
    - uses: laughedelic/coursier-setup@v1
      with:
        jvm: 8
    - name: Set up MinGW
      uses: egor-tensin/setup-mingw@f3c5d799aadf8fa230ac67a422b01dd085bbc96b
      with:
        platform: x64
    - name: Compile
      run: ./mill -i __.test.compile
    - name: Test
      if: runner.os == 'Windows'
      run: ./mill -i __.test

  publish:
    needs: test
    if: github.event_name == 'push'
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: coursier/cache-action@v6
    - uses: laughedelic/coursier-setup@v1
      with:
        jvm: 8
    - name: Set up MinGW
      uses: egor-tensin/setup-mingw@f3c5d799aadf8fa230ac67a422b01dd085bbc96b
      with:
        platform: x64
    - run: .github/scripts/gpg-setup.sh
      shell: bash
      env:
        PGP_SECRET: ${{ secrets.PGP_SECRET }}
    - name: Release
      run: ./mill -i publishSonatype __.publishArtifacts
      env:
        PGP_PASSWORD: ${{ secrets.PGP_PASSPHRASE }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
